/*!
    CSS for Pauls Portfolio
 */

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.00em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.row {
    padding: 5%;
}

.box {
    margin-bottom: 20px;
    padding: 40px 10%;
    background: #fff;
    background: rgba(255,255,255,0.8);
}

.intro-text {
    text-align:center;
}

header .menu {
  float: right;
}

header .menu li {
  float: left;
  padding-right: 0.5em;
  list-style-type:none;
}

header .menu li a {
  font-size: medium;
  text-decoration: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

a:link {color:darkolivegreen;}
a:visited {color:darkolivegreen;}
a:hover {color:darkred;}
a:active {color:darkolivegreen;}

    .centerimg {
        display: inherit;
        margin: 0;
        text-align: center;
    }

button {
    width: 10em;  height: 10em;
}

@media screen and (min-width:1200px) {
    .brand {
        display: inherit;
        margin: 10%;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color:antiquewhite;        
    }

    .about-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color:antiquewhite;
        margin-bottom: 5%;
    }

    .more {
        display: inherit;
        margin: 0;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color:antiquewhite;
        margin-bottom: 10%;
    }

    /*.centerimg {
        display: inherit;
        margin: 0;
        text-align: center;
    }*/

    header .box {
    margin-bottom: 20px;
    padding: 0 50px;
    background: rgba(255,255,255,0.8);
    }
}

@media screen and (max-width:1199px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 20px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color:antiquewhite;        
    }


    .about-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color:antiquewhite;
        margin-bottom: 5%;
    }

    .more {
        display: inherit;
        margin: 0;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color:antiquewhite;
        margin-bottom: 10%;
    }

    /*.centerimg {
        display: inherit;
        margin: 0;
        text-align: center;
    }*/

    header .box {
        padding: 2px 10px 60px 50px;
        background: rgba(255,255,255,0.8);
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.menu-box a {
    line-height: 1.0;
    color:crimson;
}

/*@media screen and (min-width: 500px) {
  header .menu {
    padding: 1px;
  }
}*/




